<br>
<!-- ========== FOOTER ========== -->
<footer class="w-full max-w-2xl mx-auto px-4 sm:px-6 lg:px-8">
  <div class="py-6 border-t border-gray-200">
    <div class="flex flex-wrap justify-between items-center gap-2">
      <div>
        <p class="text-xs text-gray-600">
          © 2025 Preline Labs.
        </p>
      </div>
      <!-- End Col -->

      <!-- List -->
      <ul class="flex flex-wrap items-center">
        <li class="inline-block pe-4 text-xs">
          <a class="text-xs text-gray-500 underline hover:text-gray-800 hover:decoration-2 focus:outline-hidden focus:decoration-2"
            href="https://github.com/salvador2041" target="_blank">
            Github
          </a>
        </li>

      </ul>
      <!-- End List -->
    </div>
  </div>
</footer>
<!-- ========== END FOOTER ========== -->